<html ng-app="piet">

<head>
<link rel="stylesheet" type="text/css" href="styles.css" />
<script> W = {[{.Width}]}; H = {[{.Height}]}; DATA={[{.Data}]};</script>
<script src="jquery.js"></script>
<script src="app.js"></script>
</head>
<body>

<div class='sidebar'>
<div class='palette'>
		<div class='selected A' id='currentColor' ></div>
		<div class='paletteCell A' onclick="selectColor('A')"></div>
		<div class='paletteCell B' onclick="selectColor('B')"></div>
		<div class='paletteCell C' onclick="selectColor('C')"></div>
		<div class='paletteCell D' onclick="selectColor('D')"></div>
		<div class='paletteCell E' onclick="selectColor('E')"></div>
		<div class='paletteCell F' onclick="selectColor('F')"></div>
		<div class='paletteCell G' onclick="selectColor('G')"></div>
		<div class='paletteCell H' onclick="selectColor('H')"></div>
		<div class='paletteCell I' onclick="selectColor('I')"></div>
		<div class='paletteCell J' onclick="selectColor('J')"></div>
		<div class='paletteCell K' onclick="selectColor('K')"></div>
		<div class='paletteCell L' onclick="selectColor('L')"></div>
		<div class='paletteCell M' onclick="selectColor('M')"></div>
		<div class='paletteCell N' onclick="selectColor('N')"></div>
		<div class='paletteCell O' onclick="selectColor('O')"></div>
		<div class='paletteCell P' onclick="selectColor('P')"></div>
		<div class='paletteCell Q' onclick="selectColor('Q')"></div>
		<div class='paletteCell R' onclick="selectColor('R')"></div>
		<div class='paletteCell S' onclick="selectColor('S')"></div>
		<div class='paletteCell T' onclick="selectColor('T')"></div>
	</div>
</div>
<div class='rightBar'>
<a href='examples'>example programs</a>
</div>
<canvas class='program' id='programCanvas'>
</canvas>
</div>
<br/>
</body>
</html>