.sidebar{
	width:200px;
	height:100%;
	left:0px;
	background-color:cyan;
	position:absolute;
	top:0px;
}
.navbar{
	position:absolute;
	width:500px;
	height:50px;
	left:200px;
	top: 0px;
	background-color:cyan;
}
.program{
	position:absolute;
	left: 230px;
	top: 80px;