<html ng-app>

<head>
<link rel="stylesheet" type="text/css" href="styles.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-controller="EditorCtrl">
<div ng-repeat='row in program.rows' class='row'>
<div 
	ng-repeat='cell in row.cells' 
	ng-class='cell.color' 
	class='cell'
	ng-style='getCellStyle(cell)'
	ng-mousedown='mouseDown(cell,$event)'
	ng-mouseenter='mouseEnter(cell)'
	ng-mouseup='mouseUp(cell)'
	oncontextmenu="return false;"
>{{getCellText(cell)}}</div>
</div>
<br/>
<input type='numeric' ng-model='settings.cellSize'/>

</body>
</html>